*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    outline: none;
}

/*Класс для эффекта подчёркивания ссылок при наведении*/
.link {
    position: relative;
}
.link:before {
    content: '';
    bottom: 0;
    left: 0;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #cdff54;
    transition: 0.2s;
    transform: scaleX(0);
}
.link:hover:before {
    width: 100%;
    transform: scaleX(1);
}

header {
    width: 100%;
    min-height: 95vh;
    padding-bottom: 30px;
    background: #101f29 url('../img/header_background.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /*position: relative;*/
    box-shadow:0 0 0 500px rgba(0, 0, 0, 0.7) inset;
}

/*Изначально хотел затемнить фон таким образом, но что-то пошло не так*/
/*header:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
}*/

.container {
    max-width: 1170px;
}
.center {
    margin: 0 auto;
}
.right{
    float: right;
}

/*Верхняя часть header*/
.fix-header {
    width: 100%;
    padding: 30px 0 80px;
}
.logo {
    display: block;
    text-align: center;
}
.logo img {
    width: 70%;
    transition: 01s;
}
.main-nav li {
    list-style-type: none;
}
.main-nav-item {
    color: #fff;
    font-size: 18px;
    line-height: 50px;
    vertical-align: middle;
}
.main-nav-item:hover {
    color: #cdff54;
}
.tel p {
    color: #cdff54;
    font-size: 18px;
    font-weight: bold;
    text-align: right;
}
/*Анимированная шапка при прокрутке*/
.headhesive {
    background-color: rgba(16, 31, 41, 0.9);
    position: fixed;
    width: 100%;
    padding: 0;
    transition: 0.5s;
    transform: translateY(-100%);
    opacity: 0;
    z-index: 10;
}
.headhesive--stick {
    background-color: rgba(16, 31, 41, 0.9);
    padding: 5px 0;
    transform: translateY(0);
    opacity: 1;
}
.headhesive--stick .logo img {
    width: 65%;
}
.headhesive--stick p,
.headhesive--stick a {
    font-size: 14px;
}
.headhesive--stick .main-nav-item {
    line-height: 40px;
}

/* Стили блока с описанием */
.right-side {
    color: #fff;
    width: 70%;
}
.right-side h1 {
    font-size: 32px;
}
.right-side p {
    line-height: 1.5rem;
    margin-top: 20px;
}

/* Стили формы */
.form-wrapper {
    background: #fff;
    color: #333;
    width: 60%;
    margin-left: 30%;
    padding: 30px 20px;
    border-radius: 3px;
}
.form-group {
    padding: 10px 0;
}
.form-group label {
    padding-left: 1%;
}
form label {
    font-size: 12px;
    font-weight: bold;
}
form input, form select {
    width: 100%;
    height: 30px;
    border: 1px solid #aaa;
    border-radius: 3px;
}
.form-text {
    width: 98%;
    display: block;
    margin: 0 auto;
}
form input[placeholder] {
    padding-left: 10px;
}
.send {
    width: 100%;
    height: 40px;
    background-color: cadetblue;
    border: 0;
    border-radius: 3px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
.send:hover {
    opacity: 0.7;
}

/* Бургер меню */
.burger-menu__button {
    display: none;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 30;
    width: 80px;
    height: 70px;
    border-radius: 10%;
    background-color: rgba(16, 31, 41, 0.5);
    transition: 0.4s;
}
.burger-menu__lines,
.burger-menu__lines::after,
.burger-menu__lines::before {
    position: absolute;
    width: 50px;
    height: 6px;
    background-color: #fff;
    transition: 0.3s;
}
.burger-menu__lines {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.burger-menu__lines::before {
    content: '';
    top: -15px;
}
.burger-menu__lines::after {
    content: '';
    top: 15px;
}
.burger-menu_active .burger-menu__button,
.burger-menu_active .burger-menu__lines {
    background-color: transparent;
}
.burger-menu_active .burger-menu__lines::before {
    top: 0;
    transform: rotate(45deg);
}
.burger-menu_active .burger-menu__lines::after {
    top: 0;
    transform: rotate(-45deg);
}
.burger-menu__nav {
    min-width: 50%;
    padding-top: 100px;
    position: fixed;
    z-index: 20;
    display: flex;
    flex-flow: column;
    height: 100%;
    background-color: rgba(16, 31, 41, 0.9);
    overflow-y: auto;
    left: -100%;
    transition: 0.5s;
}
.burger-menu_active .burger-menu__nav {
    left: 0;
}
.burger-menu__link {
    width: 80%;
    margin: 0 auto;
    padding: 15px 20px;
    border-bottom: 1px solid #fff;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.2em;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold;
    color: #fff;
}
.burger-menu__link:hover {
    filter: brightness(0.7);
}
.burger-menu__overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
}
.burger-menu_active .burger-menu__overlay {
    display: block;
    background-color: rgba(0, 0, 0, 0.1);
}

/*Conditions section*/
#conditions {
    /*position: relative;*/
}
.conditions-container {
    margin-top: -80px;
    padding: 40px;
}
.conditions-item {
    padding: 0 10px;
}
.conditions-item img {
    display: block;
    width: 200px;
    height: 200px;
    border: 5px solid #fff;
    border-radius: 50%;
    margin: 10px auto 30px;
}
.conditions-item h3 {
    text-align: center;
    font-size: 26px;
    color: #777;
}
.conditions-item p {
    padding: 10px 15px;
    color: #777;
    text-align: center;
}

/*Galary*/
#galery {
    background-color: #eee;
    padding-bottom: 50px;
}
#galery h2 {
    font-size: 40px;
    text-align: center;
    color: #555;
    padding-top: 40px;
}
p.galery__paragraph {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    padding: 10px 0;
}
.sl {
    max-width: 90%;
    margin: 40px auto;
}
.sl-item {
    position: relative;
}
.sl-item img {
    width: 99%;
    min-height: 300px;
}
.sl-text {
    position: absolute;
    bottom: 0;
    min-height: 30%;
    background: rgba(0, 0, 0, 0.7);
    width: 99%;
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    font-size: 12px;
    padding: 20px 10px;
}
.sl-text h3 {
    padding-bottom: 10px;
}
/*Переопределение стилей самого слайдера*/
    /*Стрелки. Arrows*/
.slick-prev {
    left: -40px;
}
.slick-prev:before,
.slick-next:before {
    color: #444;
    font-size: 30px;
}
    /*Меняем оформление точек под слайдером*/
.slick-dots li button:before {
    top: 10px;
    font-size: 16px;
}

/*Blog section*/
#blog {
    padding: 30px 40px;
}
.blog__row {
    padding: 20px 20px 50px;
    border-bottom: 1px solid #ddd;
}
.blog__row:last-child {
    border: none;
}
h2 {
    padding: 20px 0;
    text-align: center;
    color: #555;
    font-size: 36px;
}
.blog__row img {
    width: 100%;
    padding-top: 20px;
}
.blog__row h3 {
    color: #555;
    font-size: 26px;
    padding: 20px 0 10px;
}
.blog__row p a {
    display: block;
    margin-top: 5px;
    color: #af3838;
    font-weight: bold;
}
.blog__row p a:hover {
    color: #d82222;
    text-decoration: underline;
}

/*Contacts section*/
#contacts {
    padding: 30px 40px;
    background-color: #903c3c;
}
.contacts__p-contacts {
    color: #444;
    font-size: 20px;
    text-align: center;
    color: #fff;
}
span.contacts__phone {
    font-size: 34px;
    font-weight: bold;
    line-height: 70px;
    color: #cdff54;
}
#contacts h2 {
    text-align: center;
    color: #cdff54;
    padding-bottom: 30px;
}
.contacts__row {
    padding-bottom: 20px;
}
span.lorem {
    display: block;
    width: 55%;
    margin: 10px auto;
    text-align: justify;
    font-size: 16px;
}

.form {
    width: 300px;
    height: 300px;
    background-color: #fff;
    margin: 0 auto;
    padding: 15px;
    font-size: 18px;
    border-radius: 3px;
}
.form p {
    text-align: center;
    padding: 10px 0;
    font-size: 18px;
    color: #555;
}
.form label {
    color: #555;
    margin-left: 10px;
}
.form input {
    margin: 5px auto 20px;
    width: 100%;
    height: 40px;
}
.form button {
    display: block;
    width: 100%;
    height: 40px;
    margin: 5px auto;
    background-color: cadetblue;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 3px;
}
.form button:hover {
    opacity: 0.8;
}
/*Social*/
ul.social {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
ul.social li {
    display: inline-block;
    width: 70px;
    height: 70px;
    background: url(../img/social_icons_white_600px.png) no-repeat;
}
.social .social__button_vk {
    background-position: -120px -17px;
}
.social .social__button_fb {
    background-position: -219px -17px;
}
.social .social__button_tw {
    background-position: -318px -17px;
}
.social .social__button_inst {
    background-position: -510px -17px;
}
.social .social__button_tg {
    background-position: -219px -313px;
}
.social .social__button_google {
    background-position: -414px -18px;
}
.social a {
    display: block;
    width: 100%;
    height: 100%;
    transition: 0.3s;
}
.social a:hover {
    border: 2px solid #cdff54;
    border-radius: 50%;
}


/*Footer*/
footer {
    background-color: #101f29;
    padding: 30px;
    color: #fff;
}
footer p {
    text-align: center;
}
footer a {
    color: #cdff54;
}


/* Responsive css */
@media (max-width: 960px) {
    header {
        padding-bottom: 70px;
    }
    .fix-header {
        padding: 30px 0 0;
    }
    .headhesive {
        display: none;
    }
    .logo {
        text-align: right;
    }
    .main-nav {
        display: none;
    }
    .burger-menu__button {
        display: inline-block;
    }

    .tel {
        min-height: 120px;
        padding: 0 50px 0 0;
}
    .tel p {
        font-size: 24px;
    }

    .form-wrapper,
    .right-side {
        margin: 20px auto 0;
        width: 95%;
    }
    /*Conditions section*/
    .conditions-container {
        margin-top: -60px;
    }
    .conditions-item img {
        width: 150px;
        height: 150px;
    }
    /*Galery*/
    .sl {
        max-width: 720px;
    }
    /*Social*/
    ul.social {
        width: 70%;
    }
    span.lorem {
        width: 90%;
    }
    span.contacts__phone {
        font-size: 36px;
    }
}

@media (max-width: 720px) {
    h2 {
        font-size: 30px;
    }
    header {
        padding-bottom: 50px;
    }
    .logo {
        padding-right: 5%;
    }
    .tel {
        padding: 0 40px;
        min-height: 50px;
    }
    .form-group {
        padding: 3px 0;
    }

    form input, form select {
        height: 40px;
    }
    .send {
        display: block;
        width: 98%;
        margin: 20px auto;
        height: 50px;
    }
    /*Conditions section*/
    .conditions-container {
        margin-top: 0;
        padding: 20px;
        background: #000 url('../img/header_background.jpg') no-repeat;
        background-size: cover;
        background-attachment: fixed;
        box-shadow:0 0 0 500px rgba(0, 0, 0, 0.7) inset;
    }
    .conditions-item {
        /*background-color: #fff;*/
        margin-bottom: 20px;
        padding: 20px 0;
        border-bottom: 2px solid #aaa;
    }
    .conditions-item:last-child {
        border: none;
    }
    .conditions-item img {
        width: 95%;
        height: 300px;
        border-radius: 30px;
    }
    .conditions-item h3,
    .conditions-item p {
        color: #fff;
    }
    .conditions-item h3 {
        font-size: 36px;
    }
    /*Galery*/
    p.galery__paragraph {
        width: 90%;
    }
    .sl-item img, .sl-text {
        width: 100%;
    }
    .sl-text {
        padding: 20px 20px 10px;
    }
    /*blog*/
    #blog {
        padding: 30px 20px;
    }
    .blog__row {
        padding: 20px 0 50px;
    }
    #contacts {
        padding: 30px 20px;
    }
    /*Social*/
    span.contacts__phone {
        font-size: 34px;
    }
    .form {
        width: 100%;
        margin: 50px auto 20px;
    }
    ul.social {
        width: 100%;
    }
    ul.social li {
        width: 15%;
    }
}
